.navigation {
    height: 40px;
    background-color: #eee;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-content: center;
        list-style: none;
    }
}