@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

$mainDark: rgb(37, 55, 94);
$mainMedium: rgb(77, 96, 183);
$mainLight: rgb(86, 171, 238);
$highlight: #FCD25A;
$primaryText: #fff;
$secondaryText: #eee;
$darkText: $mainDark;

$fontHuge: 32px;
$fontBig: 24px;
$fontMedium: 18px;
$fontSmall: 14px;
$fontTiny: 11px;


html, body, #root, #root>div  {
  height: 100%;
  color: $primaryText;
  background-image: linear-gradient(-90deg, $mainLight, $mainMedium);
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: $mainDark;
}

button {
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Settings */
@import '../scss/settings/settings.scss';

/* Components */
@import '../components/AcceptCallScreen/acceptCallScreen.scss';
@import '../components/ContactList/contactList.scss';
@import '../components/ChatBoard/chatBoard.scss';
@import '../components/Chat/chat.scss';
@import '../components/Register/register.scss';
@import '../components/Login/login.scss';
@import '../components/Navigation/navigation.scss';
@import '../components/MessageEditor/messageEditor.scss';
@import '../components/MessageEditor/buttonUnite.scss';
@import '../components/VideoChat/videoChat.scss';

