.message-editor {
    background-color: #fff;
    height: 30px;
    display:flex;
    
    input {
        flex:1;
        font-size: 30px;
        border: 0.5px solid $mainMedium;
        border-radius:  20px;
        margin-left: 2px;
    }
    button{
        margin-left: 2px;
    }
}